// @import 'icon/*.png';
// @include all-icon-sprites;
main{
            perspective: 1px;
            height: 100vh;
            overflow-x: hidden;
            overflow-y: auto;
        }
section{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
// section{
//     padding: 100vh 0;
// }
.back{
    z-index: -3;
    transform: translateZ(-3px) scale(3);
    background-image: url("../img/hikingtrails.jpg");
    background-attachment: fixed;
    background-size: 100% 40%;
    height: 300px;
    grid-area: back;
}
.mid{
    z-index: -2;
    transform: translateZ(-2px) scale(2);
    background-image: url("../img/rainier");
    background-attachment: fixed;
    background-size: 100% 40%;
    grid-area: mid;
}
.mid2{
    z-index: -1;
	transform: translateZ(-1px) scale(1);
	background-image: url("../img/puget.jpg");
    background-attachment: fixed;
    background-size: 100% 40%;
	grid-area: mid2;
}
.fore{
    z-index: 0;
    transform: translateZ(0);
    background-image: url("../img/seattle.jpg");
    background-attachment: fixed;
    background-size: 100% 40%;
    grid-area: fore;
}
// h2{
//     position: absolute;
//     left: 50%;
//     right: 50%;
//     transform: translate(-50% -50%);
//}